/*
* Custom Styling
*/

/*
* General Styling for Elements throughout the App
*/
//Alternative Button
.alt-button {
  background-color: #f08a24;
  margin: 1em;
}

/*
* Questionnaire Page
*/


/*
* Account Page
*/

.account-content {
  font-family: sans-serif;
}

.account-questionnaire {
  border-bottom: solid #888888;
  padding: 1em;
  margin: 1em;
}


/*
* Questionnaire Edit Page Elements
*/
.questionnaire {
  background-color: #003f54;
  color: #DDDDDD;
  margin-bottom: 1em;
  padding: 1em;
  border-top: solid #000000;
  border-bottom: solid #000000;
}

.questionnaire-title h1 {
  background-color: #007095;
  color: #DDDDDD;
  margin: 0;
}

.question {
  border-bottom: solid #000000;
  padding-bottom: 1em;
  font-size: 2em;
  color: #FFFFFF;
}

.answer {
  color: #FFFFFF;
}

.answer label {
  color: #FFFFFF;
}

.edit-button {
  background-color: #f08a24;
  border: solid #000000;
  padding: 0;
  color: #000000;
}

.question_choices {
  color: #FFFFFF;
}